<html>
<head>
    <title>Password creation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="{% url 'validation' g_id %}" method="post">
    {% csrf_token %}
    <div class="container">
        <h1>Password for group</h1>
        <label>Enter password</label>
        <input class="form-control" name="password" placeholder="Enter group name..." type="text">
        <p class="">money</p>
        <input type="submit">SUBMIT</a></input>
    </div>
</form>
</body>
</html>